# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.env
server/secret.yml
./8c319c96-f047-4886-934e-18ff096670b4-api.zip
./8c319c96-f047-4886-934e-18ff096670b4-app.zip
